.about__container-services {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5rem;
}

.about__container-services h3 {
    font-size: 35px;
}

.service {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.service-icon {
    background: var(--color-primary);
    color: var(--color-white);
    font-size: 96px;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    transition: var(--transition);
}

.service-icon:hover {
    background: transparent;
    border: 1px solid var(--color-primary);
    color: var(--color-primary);
}

.about__container-us {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.cleanner2 {
    width: 600px;
    height: 458px;
    margin-right: 2rem;
    border-radius: 10px;
}

.hire-us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* ======================== MEDIA QUERIES (MEDIUM DEVICES ======================== */
@media screen and (max-width: 1024px) {

    .container {
        width: var(--container-width-md);
    }

    .about__container-services {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .cleanner2 {
        display: none
    }

    .hire-us {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        gap: 2rem;
    }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES ======================== */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    .about__container-services h3 {
        font-size: 20px;
        font-weight: 800;
    }

    .about__container-services h5 {
        font-size: 18px;
    }

    .service-icon {
        font-size: 68px;
    }

}