@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-bg: #ffffff;
    --color-bg-variant: rgba(255, 255, 255, 0.6);
    --color-primary: #1E293B;
    --color-primary-variant: #1E295C;
    --color-black: #000000;
    --color-white: #ffffff;
    --color-light: rgba(255, 255, 255, 0.6);
    --color-primary-opacity: rgba(30, 41, 59, 0.6);
    --color-secondary-opacity: rgba(255, 255, 255, 0.6);

    --transition: all 400ms ease;

    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Roboto', sans-serif;
    background: var(--color-bg);
    color: var(--color-primary);
    line-height: 1.7;
}

/* ======================== GENERAL STYLES ======================== */
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

section {
    margin-top: 8rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

h1 {
    font-style: normal;
    font-weight: 300;
    font-size: 96px;
    line-height: 112px;
    /* identical to box height */
    letter-spacing: 1.5px;
}

h2 {
    font-style: normal;
    font-weight: 300;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -0.5px;
}

h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 56px;
}

h5 {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

h6 {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 1.5px;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.15px;
}

small {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
}

.btn {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 1.25px;
    width: max-content;
    display: inline-block;
    background: var(--color-primary);
    color: var(--color-white);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transtion);
}


.btn:hover {
    background: var(--color-primary-variant);
    border-color: transparent;
}

.text-white {
    color: var(--color-white);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* ======================== MEDIA QUERIES (MEDIUM DEVICES ======================== */
@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES ======================== */
@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
    }

    h1 {
        font-size: calc(96px - 38px);
    }

    h2 {
        font-size: calc(60px - 32px);
    }

    h3 {
        font-size: calc(60px - 32px);
    }
}